MOSH/LoRa_Small_Project/Gas_Temperature_Flow.json
[{"id":"d9e51f02.336088","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"59a2bf5.6d5a64","type":"ttn event","z":"d9e51f02.336088","name":"my device","app":"ca479d0d.b3dde","dev_id":"mennessodeviceid","event":"#","x":115,"y":480,"wires":[["5f82d586.95424c"]],"l":false},{"id":"5041da86.74da0c","type":"ttn uplink","z":"d9e51f02.336088","name":"message","app":"ca479d0d.b3dde","dev_id":"","field":"","x":100,"y":660,"wires":[["8b455a23.946178","be7d1f71.d4a69","6f3b1f51.59a92"]]},{"id":"5f82d586.95424c","type":"debug","z":"d9e51f02.336088","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":430,"y":480,"wires":[]},{"id":"8b455a23.946178","type":"debug","z":"d9e51f02.336088","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":370,"y":800,"wires":[]},{"id":"be7d1f71.d4a69","type":"function","z":"d9e51f02.336088","name":"","func":"msg.payload=(msg.payload[3]+msg.payload[2]*16*16)/100\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":500,"y":700,"wires":[["8c32e5f1.2914e","2ebc99e4.f5a706"]]},{"id":"8c32e5f1.2914e","type":"debug","z":"d9e51f02.336088","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":870,"y":520,"wires":[]},{"id":"2ebc99e4.f5a706","type":"ui_gauge","z":"d9e51f02.336088","name":"","group":"44b9d77c.ee624","order":0,"width":0,"height":0,"gtype":"gage","title":"Température","label":"units","format":"{{value}}","min":0,"max":"40","colors":["#00b500","#e6e600","#ca3838"],"seg1":"21","seg2":"32","x":750,"y":700,"wires":[]},{"id":"6f3b1f51.59a92","type":"function","z":"d9e51f02.336088","name":"","func":"msg.payload=(msg.payload[1]+msg.payload[0]*16*16)/100\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":520,"y":760,"wires":[["3c6c99e5.9fdda6"]]},{"id":"3c6c99e5.9fdda6","type":"ui_gauge","z":"d9e51f02.336088","name":"","group":"44b9d77c.ee624","order":2,"width":0,"height":0,"gtype":"gage","title":"Gaz","label":"units","format":"{{value}}","min":0,"max":10,"colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":750,"y":760,"wires":[]},{"id":"ca479d0d.b3dde","type":"ttn app","appId":"mennessoapplication","accessKey":"ttn-account-v2.uB2o-ExSnbVgGcRN1GgzFCWlI8Tn3HUneQNkbCE3Npo","discovery":"discovery.thethingsnetwork.org:1900"},{"id":"44b9d77c.ee624","type":"ui_group","name":"DEVICE #1","tab":"5a0a53f3.c08c3c","order":1,"disp":true,"width":"6"},{"id":"5a0a53f3.c08c3c","type":"ui_tab","name":"TTN","icon":"dashboard"}]